src/xsd/xul/xsd/property.xsd

<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE xs:schema SYSTEM "XMLSchema.dtd">
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns="http://xul.xinutec.org/2011/xulref"
	targetNamespace="http://xul.xinutec.org/2011/xulref">

	<xs:include schemaLocation="fragments/attrprop.xsd"/>

	<xs:element name="property" type="propertyElementType"/>

	<xs:complexType name="propertyElementType">
		<xs:complexContent>
			<xs:extension base="attrpropElementType">
				<xs:attribute name="type" type="propertyType" use="required"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

</xs:schema>
